<section class="section">
	<div class="container">
		<div class="row">
			<div class="col col-xs-12 text-center">
				<h2>What can you do with Cobiro?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</div>
			<div class="col col-xs-12 col-md-4">
				<div class="card">
					<img src="includes/img/pencil.svg" />
					<div class="text-left text-center-md">
						<h4>Create</h4>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<a class="small" href="#">Learn more</a>
					</div>
				</div>
			</div>
			<div class="col col-xs-12 col-md-4">
				<div class="card">
					<img src="includes/img/pencil.svg" />
					<div class="text-left text-center-md">
						<h4>Create</h4>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<a class="small" href="#">Learn more</a>
					</div>
				</div>
			</div>
			<div class="col col-xs-12 col-md-4">
				<div class="card">
					<img src="includes/img/pencil.svg" />
					<div class="text-left text-center-md">
						<h4>Create</h4>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<a class="small" href="#">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
