<div class="container">
	<div class="section">
		<div class="row middle-xs">
			<div class="col col-sm-12 col-md-6">
				<div class="text-margin">
					<h2>No marketing skills required</h2>
					<p>You do not need any online marketing skills to become successful with Google Ads.
						Cobiro will handle all actions that are required.</p>
					<a href="/">Show me how</a>
				</div>
			</div>
			<div class="col col-sm-12 col-md-6">
				<div class="img-responsive">
					<img src="{{url('includes/img/busy-lady.svg')}}" alt="Cobiro logo"/>
				</div>
			</div>
		</div>
	</div>
</div>

