<section class="section">
	<div class="section-inner bg-lightgrey">
		<div class="container">
			<div class="row center-xs middle-xs text-center">
				<div class="col col-xs-12 space-xs-up">
					<h2>{{ heading }}</h2>
					{{ text }}
				</div>
				{% for image in images %}
				<div class="customer-logo col col-xs-6 col-md-3">
					<img src="{{ image.url }}" alt="{{ image.title }}" />
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
