<section class="section">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="bg-lightgrey flex testimonal-box middle-md">
					<div class="testimonial-image-wrapper">
						<img class="testimonial-image" src="includes/img/testimonial.png" alt="image title"/>
					</div>
					<div>
						<h4>“My vet clinic went from almost no customers at all, to an increase in customers and revenue”</h4>
						<p class="small">- Simon Mogensen, Small Vet Clinic</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
