

<div class="container">
	<div class="section">
		<div class="row center-sm">

			<div class="col col-xs-12">
				<h2>You’ll be in good company</h2>
				<p>Join more than 50,000 customers who manage ads better</p>

				<div class="customer-logo col col-xs-6 col-md-3">
					<img src="{{url('includes/img/thomas-logo.svg')}}" alt="customer logo"/>
				</div>
				<div class="customer-logo col col-xs-6 col-md-3">
					<img src="{{url('includes/img/google-logo.svg')}}" alt="customer logo"/>
				</div>
				<div class="customer-logo col col-xs-6 col-md-3">
					<img src="{{url('includes/img/boozt-logo.svg')}}" alt="customer logo"/>
				</div>
				<div class="customer-logo col col-xs-6 col-md-3">
					<img src="{{url('includes/img/thomas-logo.svg')}}" alt="customer logo"/>
				</div>
			</div>
		</div>
	</div>
</div>

