<div class="container">
	<div class="section">
		<div class="row center-xs">
			<div class="col col-xs-12">
				<h2>It’s easy to get started</h2>
				<p>And it’s free. Two things everyone loves</p>
				<button class="btn btn-large">Sign up free</button>
			</div>
		</div>
	</div>
</div>
