<section class="section">
	<div class="section-inner bg-lightgrey">
		<div class="container">
			<div class="row center-xs text-center">
				<div class="col col-xs-12">
					<h2>It’s easy to get started</h2>
					<p>And it’s free. Two things everyone loves</p>
					<button class="btn btn-large" aria-label="Sign up free">Sign up free</button>
				</div>
			</div>
		</div>
	</div>
</section>
