<section class="section">
	<div class="container">
		<div class="row">

			<div class="col col-xs-12 text-center">
				<h2>Pricing</h2>
				<p>Get the power and customization you need to manage your ads</p>
			</div>

			<div class="col col-xs-12 col-md-4 col-md-offset-2">
				<div class="card">
					<div>
						<h4>Cobiro Free</h4>
						<p class="price">$0</p>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<button class="btn btn-large btn-secondary">Sign up free</button>
						<ul class="list-unstyled text-left-xs">
							<li class="list-unstyled">Google Search</li>
							<li class="list-unstyled">Google Shopping</li>
							<li class="list-unstyled">Google CSS (basic)</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col col-xs-12 col-md-4">
				<div class="card">
					<div>
						<h4>Cobiro Free</h4>
						<p class="price">$49</p>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<button class="btn btn-large">Sign up now</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
