<section class="section">
	<div class="container">
		<div class="row">

			<div class="col col-xs-12 text-center">
				<h2>Pricing</h2>
				<p>Get the power and customization you need to manage your ads</p>
			</div>

			<div class="col col-xs-12 col-md-4 col-md-offset-2">
				<div class="card flex center">
					<div>
						<h4>Cobiro Free</h4>
						<p class="price">$0</p>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<button class="btn btn-secondary space-xs-up" aria-label="Sign up free">Sign up free</button>
						<ul class="text-left-xs price-list list-unstyled">
							<li>Google Search</li>
							<li>Google Shopping</li>
							<li>Google CSS (basic)</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col col-xs-12 col-md-4">
				<div class="card flex center">
					<div>
						<h4>Cobiro Free</h4>
						<p class="price">$49</p>
						<p class="small">Make campaigns and advertise for  holidays, sales and events.</p>
						<button class="btn space-xs-up" aria-label="Sign up now">Sign up now</button>
						<ul class="text-left-xs price-list list-unstyled">
							<li>Google Search</li>
							<li>Google Shopping</li>
							<li>Google CSS (basic)</li>
						</ul>
							<hr class="extra-line">
						<ul class="text-left-xs price-list list-unstyled">
							<li>Google Shopping</li>
							<li>Google CSS (basic)</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
