{% if backgroundColor %}
	{% set style = 'style=background-color:' ~ backgroundColor %}
{% else %}
	{% set style = null %}
{% endif %}
<section class="section" {{ style }}>
	<div class="container">
		<div class="row center-xs">
			<div class="col col-xs-12 col-md-8 text-editor-wrapper">
				<div class="embed-responsive">
					<iframe src="{{ embedCode }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="Embedded video" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
