@import '~baseguide/scss/baseguide/02-base/headings';

h1, .h1 {
	font-size: 4rem;
	font-weight: 600;
}

h2, .h2 {
	font-size: 3rem;
	font-weight: 600;
}

h3, .h3 {
	font-size: 2rem;
	font-weight: 600;
}

h4, .h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

h5, .h5 {
	font-size: 1.125rem;
	font-weight: 600;
}

p, a {
	font-size: 1.5rem;

	&.small {
		font-size: 1.125rem !important;
	}
}

.text-editor-wrapper p {
	font-size: 1.125rem !important;
}
.section-header {
	margin-bottom: 5rem;
}

@include mq($until: md) {
	h1, .h1 {
		font-size: 2rem;
	}
	h2, .h2 {
		font-size: 1.5rem;
	}
	h3, .h3 {
		font-size: 1.25rem;
	}
	h4, .h4 {
		font-size: 1.125rem;
	}
	h5, .h5 {
		font-size: 0.875rem;
	}
	p, a {
		font-size: 1rem;

		&.small {
			font-size: 1rem !important;
		}
	}
	.text-editor-wrapper {
		p {
			font-size: 1rem !important;
		}
	}
}
